.env
# Archivos de configuración con credenciales
db.sqlite3
env.py
local_settings.py

# Archivos de caché
*.pyc
__pycache__/

# Archivos temporales
*.swp
*.tmp

# Archivos de configuración de IDEs

.vscode/